# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Virtualenv
venv/
.venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env

# Uploads
uploads/receipts/*

# Database
*.sqlite3
db.sqlite3

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
